[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
python-dotenv = "*"
transitions = "*"
pandas = "*"
websocket = "*"
matplotlib = "*"
service = "*"
machine = "*"
setproctitle = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
